body {
  font-family: 'MedievalSharp', cursive;
  width: 80%;
  padding: 5px;
  margin: auto;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px black;
  background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

main{
  background-image: url(https://wallpaperaccess.com/full/1614310.jpg);
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(0, 0, 0, 0.753);
  background-color: rgba(105, 97, 97, 0.849);
}

.info-sides{
  font-size: 30px;
  width: 10%;
  padding: auto;
  margin: 0px;
  background-color: rgba(209, 205, 205, 0.315);
}

#text-box-top{
  
  margin-bottom: 25px;
  background-color: rgba(105, 97, 97, 0.63);
  text-align: center;
}

#intro-text
{
  font-size: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#memory{
  font-style: italic;
  color: rgb(255, 251, 192);
}

.door-text{
  font-size:25px;
}

#door{
  display:flex;
  width: 90%;
  margin: auto;
}

.text-box-bottom{
  padding: 20px;
  margin-top: 25px;
  background-color: rgba(105, 97, 97, 0.637);
  text-align: center;
}

#button-holder{
  padding: 10px;
  display: flex;
  justify-content: center;
}

button{
  background-color: rgb(218, 165, 32);
  font-size: 50px;
  font-family: 'MedievalSharp', cursive;
  text-shadow: 2px 2px rgb(139, 118, 48);
  border-radius: 15px;
  width: 400px;
}

#monster-img{
width: 50%;
text-align: center;
padding: 10px;
}

#middle-block{
display:flex;
}

#monster-stats,
#dice-results
{
  width: 25%;
  font-size: 25px;
  display:flex;
  flex-direction: column;
  text-align: center;
}

#results{
  text-shadow: 0px;
  background-color: rgba(133, 126, 126, 0.76);
  margin: auto;
  height: auto;
  width: 100px;
  border-radius: 15px;
}